@using GroupProj1Weddit.Models.ViewModels;
@model TopicViewModel;
@{
    ViewData["Title"] = "Posts";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<h3>Posts in this Topic</h3>


<table class="table">
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Comments", new { id = post.Id })">@post.Title</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button id="ToCreatePost" class="btn btn-primary" onclick="redirectToCreatePost(@Model.Id)">Go to create post</button>

<script>
    function redirectToCreatePost(topicId) {
        var url = '@Url.Action("CreatePost", "Posts")' + '?id=' + topicId;
        window.location.href = url;
}
</script>
